*{
    margin: 0;
    padding: 0;
}

.IGOR{
    background-image: url(transferir.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 800vh;
}